body {
  padding-left: 56px;
  padding-right: 56px;
  padding-top: 56px;
  padding-bottom: 56px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.base-page {
  width: 100%;
  height: 100vh;
  display: inline-block;
  display: flex;
  align-items: center;
}

.pad_mod{
  padding-top: 15px;
  
  padding-bottom: 5px;
}

.form-right i {
  font-size: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: -2.5rem;
  background-color: rgba(0, 0, 0, 0.2);
}

.content {
  flex: 1;
}

.img {
  background-color: #fff;
  width: 320px;
  height: 200px;
  float: left;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 25px;
}

.imgr {
  background-color: #fff;
  width: 500px;
  height: 300px;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
  border-radius: 25px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 300px;
  height: 300px;
  padding: 20px;
  float: right;
  margin-right: 25px;
  margin-left: 25px;
}

.fakeimg2 {
  background-color: #aaa;
  width: 220px;
  height: 220px;
  padding: 20px;
  float: inline-start;
  margin-right: 15px;
  margin-left: 15px;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 63%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}